<section>
    <div class="container mt-5">
        <div class="row">
            {{#each products}}

            <div class="col-md-3" style="margin-bottom: 1em;">
                <div class="card" style="width: 15em;">
                    <img class="card-img-top" style="height: 7em; width: 7em; margin-left: 3em;" src="{{this.Image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</section>