<section style="background-color: #343484;">
    <div class="row" style="display: grid; place-items: center;">
        <div class="contaner">
            <div class="col-md-12 text-center" style="margin-top: 9em; border: double; background-color: yellow;">
                <h3 style="margin-top: 1em; font-weight: bold;" class="text-success text-center">Order Place Successfully</h3>
                <a style="margin-bottom: 1em; margin-top: 1em;" href="/orders" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #343484; height: 11em;">
</section>